body {
  margin: 0;
  background: #333;
}

main {
  /* display: flex; */
  /* flex-direction: row-reverse; */
}

header {
  background: red;
  border-bottom: 1px solid yellow;
  padding: 1rem;
}

#dex-screen {
  display: block;
  background: url('../images/wtp.png') no-repeat center center;
  background-size: cover;
  border-bottom: 3px solid yellow;
}

#left {
  flex: 1;
  background: lightblue;
}

#right {
  flex: 1;
  background: red;
}

/* MEDIUM DEVICES */
@media only screen and (min-width: 720px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }
}

/* LARGE DEVICES */
@media only screen and (min-width: 500px) {
  
}