html, body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background: #333;
}

img {
  max-width: 100%;
  max-height: 100%;;
}

h2 {
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background: red;
  padding: 1rem;
}

input {
  flex: 1;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  height: 100%;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.content {
  background: white;
  border-radius: 1rem;
  border: 2px solid yellow;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 0.9rem;
  cursor: help;
  background: black;
  color: white;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 105%; 
  right: 0;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 0.5rem;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

header a {
  color: white;
}

#dex-screen {
  display: block;
  background: url('../images/wtp.png') no-repeat center center;
  background-size: cover;
  border-bottom: 3px solid yellow;
}

#left {
  flex: 1;
  background: lightblue;
}

#right {
  flex: 1;
  background: red;
}

#loader-container {
  position: absolute;
}

#loader-container > img {
  animation: wiggle 1s;
  animation-iteration-count: infinite;
  width: 10rem;
}

#dex-orations{
  display: none;
}

#poke-results {
}

#searchForm {
  display: flex;
}

#searchForm > button {
  margin-left: 0.25rem;
}


/* MEDIUM DEVICES */
@media only screen and (min-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    overflow: hidden;
  }

  .mainbulbcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    border-top: 5rem solid red;
    border-right: 10rem solid transparent;
  }

  .led {
    display: inline-block;
    background: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border: 1px solid grey;
    margin-left: 0.25rem;
    z-index: 100;
    position: relative;
    top: 1.75rem;
    border-color: black;
  }

  .led.red {
    background: radial-gradient(indianred, red);
  }

  .led.yellow {
    background: yellow;
  }

  .led.green {
    background: radial-gradient(lightgreen, green);
  }

  .led.main {
    background: radial-gradient(lightblue, blue);
    border-width: 2px;
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 0.5rem;
    left: 1rem;
  }

  #left {
    overflow: auto;
    padding: 2rem 1rem 1rem 1rem;
  }

  #dex-orations{
    display: flex;
    flex-direction: row;
    padding-left: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/* LARGE DEVICES */
@media only screen and (min-width: 500px) {
  
}

@keyframes wiggle {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}