:root {
  --primary: #A33B20;
  --accent: #FCA311;
  --light: #EEE;
  --dark: #000;
}

html {
  height: 100vh;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

.todo {
  display: flex;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--light);
  align-items: center;
  margin-bottom: 0.125rem;
  border-left: 3px solid var(--accent);
  border-right: 3px solid var(--accent);
  font-size: 1.2rem;
}

.todo:first-of-type{
  border-top: 3px solid var(--accent);
  border-radius: 1rem 1rem 0 0;
}

.todo:last-of-type{
  border-bottom: 3px solid var(--accent);
  border-radius: 0 0 1rem 1rem;
}

.todo.complete > .todo__content {
  text-decoration: line-through;
}

.mode-switch {
  padding: .25rem;
  cursor: pointer;
}

.mode-switch.active {
  color: white;
  background-color: var(--primary);
  border-radius: .25rem;
  border: 1px solid var(--accent);
}

.todo > span {
  flex: 1;
}

#nonetext {
  text-align: center;
}

#content {
  overflow: auto;
  flex: 1;
  padding: 1rem;
  grid-area: content;
}

#command {
  background-color: lightgray;
  padding: 0.25rem;
  grid-area: command;
}

#command > div:first-of-type {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  margin-bottom: 0.25rem;
}

#command-form {
  display: flex;
}

#command-form > input {
  flex: 1;
}

#command-form > button {
  margin-left: 0.5rem;
}

/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) {
  #command {
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
  }

  #todo-input {
    height: 2.5rem;
    font-size: 2.5rem;
  }

  #add-todo {
    font-size: 2rem;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1024px) {
  body {
    background-color: var(--accent);
  }

  .todo {
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--dark);
  }

  .todo:first-of-type{
    border-top: 3px solid var(--dark);
  }

  .todo:last-of-type{
    border-bottom: 3px solid var(--dark);
  }
}
